/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

$purple: #7d2ec8;
$gray: #e9e9eb;
$black: #313639;
$white: #fff;

